/* ==========================================================================
   HTML5 Boilerplate
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
    font-family: sans-serif;
    color: #222;
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #292929;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #292929;
    color: #fff;
    text-shadow: none;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before, q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    cursor: pointer;
}

legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input {
    line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

button[disabled], input[disabled] {
    cursor: default;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

input:valid, textarea:valid {
}

input:invalid, textarea:invalid {
    background-color: #f0dddd;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: black;
    padding: 0.2em 0;
}





/* ==========================================================================
   App Styles
   ========================================================================== */

//@import "fonts/quicksand/../css/fonts/quicksand/_style";




@import "../fonts/quicksand/stylesheet.css";




/* Variables
   ========================================================================== */

$colorBlack: #000;
$colorWhite: #fff;
$colorGray: #292929;
$colorRed: #f64557;

$fontBase: Arial, sans-serif;
$fontQuicksandLight: 'QuicksandLight', $fontBase;
$fontQuicksandBook: 'QuicksandBook', $fontBase;
$fontQuicksandBold: 'QuicksandBold', $fontBase;
$fontQuicksandDash: 'QuicksandDash', $fontBase;

@mixin mfontQuicksandLight {
    font-family: $fontQuicksandLight;
    font-weight: normal;
    font-style: normal;
}

@mixin mfontQuicksandBook {
    font-family: $fontQuicksandBook;
    font-weight: normal;
    font-style: normal;
}

@mixin mfontQuicksandBold {
    font-family: $fontQuicksandBold;
    font-weight: normal;
    font-style: normal;
}

@mixin mfontQuicksandDash {
    font-family: $fontQuicksandDash;
    font-weight: normal;
    font-style: normal;
}





/* Base
   ========================================================================== */

body {
    background-color: $colorWhite;
    @include mfontQuicksandBook;
    -webkit-font-smoothing: antialiased;
}

p {
    line-height: 1em;
}

a {
    text-decoration: none;
    color: $colorWhite;

    &:hover,
    &:focus {
        color: $colorGray;
    }
}

hr {
    border: 0;
    height: 7px;
    background: url(../img/hr.png) repeat-x;
    width: 100%;
    margin: 0.2em auto 0.2em;

    &.is-inverted {
        background-color: $colorRed;
    }
}

img {
    width: 100%;
}

iframe {
    width: 100%;
}



/* Layout
   ========================================================================== */

@mixin l-960 {
    max-width: 960px;
}

@mixin l-section {
    padding: 200px 0 0;
}


/* Modules
   ========================================================================== */



/* container */

.container {
    margin: 0 auto;
}



/* change lang */

.change-lang {
    @include mfontQuicksandBold;
    @include l-960;
    width: 38px;
    height: 62px;
    background: url(../img/change-lang.png) no-repeat;
    text-align: center;

    a {
        display: block;
        line-height: 45px;
    }

    .container & {
        margin-left: 80%;
    }
}



/* game */

.game {
    @include l-section;
    margin: 0 auto;
    max-width: 450px;
    width: 50%;
}



/* intro */

.intro {
    //@include l-section;
    @include l-960;
    margin: 18em auto;
    text-align: center;

    p {
        margin: 0;
        font-size: 2.5em;
    }

    iframe {
        margin-top: 100px;
        width: 70%;

    }
}



/* Location */

.location {
    margin-top: 200px;
    background-color: $colorRed;


    .map-and-details {
        //@include l-section;
        @extend .clearfix;
        @include l-960;
        margin: 85px auto 110px;
        max-width: 800px;

        #map {
            float: left;
            width: 45%;
            height: 400px;
            border: 1px solid $colorBlack;
            background-color: white;
        }

        .details {
            float: left;
            margin-left: 4em;
            padding-top: 4em;
            width: 45%;

            p {
                margin: 0 0 0.1em 0;
                font-size: 3.5em;
            }

            .city {
                color: $colorWhite;
            }

        }

    }

    h1 {
        clear: both;
        color: $colorWhite;
        text-align: left;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 4em;
        margin: 0 0 0.5em;
    }
}



/* rsvp */

.rsvp {
    @include l-960;
    padding-top: 15em;
    padding-bottom: 17em;
    margin: 0 auto;
    //padding-top: 5em;
    //padding-bottom: 5em;
    text-align: center;

    h1 {
        font-weight: normal;
        font-size: 2.5em;
    }

    .rsvp-wrapper {
        @extend .clearfix;
        margin: 0 auto;
        width: 55%;

        img {
            float: left;
            width: 40%;
        }

        .date-and-cta {
            float: right;
            color: $colorRed;

            p {
                margin: 0;
                line-height: 1em;
            }

            .date {
                margin: .3em 0;
                font-size: 3em;
            }

            .cta {
                display: inline-block;
                padding: .3em .3em .1em;
                background-color: $colorRed;
                font-size: 2.3em;
            }
        }

    }

}



/* contacts */

.contacts {
    padding-top: 10em;
    padding-bottom: 10em;

    background-color: $colorGray;
    color: $colorWhite;
    text-align: center;

    .contacts-wrapper {
        @include l-960;
        margin: 0 auto;
    }

    img {
        margin-bottom: 3em;
        width: 25%;
    }

    h1 {
        margin: 1em auto 2em;
        width: 80%;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 2.5em;
    }

    h2 {
        @extend h1;
        margin-top: 2em;
        text-transform: uppercase;
        font-weight: normal;

        a {
            padding: 0.5em 0.4em 0.3em;
            background-color: $colorWhite;
            color: $colorRed;

            &:hover {
                background-color: $colorRed;
                color: $colorWhite;
            }
        }
    }

    ul {
        @extend .clearfix;
        margin: 0;
        margin: 0 auto;
        padding: 0;
        width: 60%;
        list-style: none;

        li {
            text-transform: uppercase;
            font-size: 2em;

            p {
                margin: 0.5em 0;
                line-height: 1em;
            }

            .phone {
                @include mfontQuicksandDash;
            }

            &.is-bride {
                float: left;
            }

            &.is-groom {
                float: right;
            }
        }
    }
}



/* faq */

.faq {
    margin: 15em auto;

    width: 80%;

    h1 {
        @include mfontQuicksandBook;
        color: $colorRed;
        text-align: center;
        font-size: 8em;
    }

    dl {
        font-size: 2em;
    }

    dt {
        margin-top: 3em;
        color: $colorRed;
        text-transform: uppercase;
    }

    dd {
        margin: 0.5em 0 0.5em;
    }
}



/* thank you */

.thank-you {
    @include l-960;
    margin: 20em auto;
    color: $colorRed;
    text-align: center;


    h1 {
        @include mfontQuicksandDash;
        font-size: 4em;
    }

    img {
        max-width: 200px;
    }
}





@media only screen and (max-width: 55em) {

    .intro {
        p {
            font-size: 2em;
        }

        iframe {
            margin-top: 3em;
            //height: auto;
            //min-height: 250px;
            width: 85%;
        }
    }


    .location {

        h1 {
            font-size: 2em;
            text-align: center;
        }

        .map-and-details {
            padding-left: 5%;
            padding-right: 5%;

            #map {
                float: none;
                width: 90%;
                margin: 0 auto;
                height: 200px;
            }
            .details {
                float: none;
                margin: 0 auto;
                text-align: center;
                width: 100%;

                p {
                    font-size: 2em;
                }
            }
        }
    }

    .rsvp {
        @include l-960;

        h1 {
            font-size: 2em;
            margin: 1em 5%;
        }

        .rsvp-wrapper {
            width: 55%;

            img {
                float: none;
                width: 80%;
                max-width: 200px;
            }

            .date-and-cta {
                float: none;

                p {
                    font-size: 2em;
                }

                .date {
                    margin: 1.5em 0 .5em;
                    font-size: 2em;
                }

                .cta {
                    font-size: 2em;
                }
            }

        }

    }

    .contacts {

        img {
            width: 100%;
            max-width: 170px;
        }

        h1 {
            font-size: 2em;
        }

        h2 {
            line-height: 1.7em;
        }

        ul li {
            &.is-bride,
            &.is-groom {
                float: none;
            }
        }
    }

    .faq {
        h1 {
            text-align: left;
            font-size: 2em;
        }

    }

    .thank-you {
        h1 {
            font-size: 3em;
        }

        img {
            max-width: 170px;
        }
    }

}

.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
    *line-height: 0;
}

.ir br {
    display: none;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

//.clearfix:before, .clearfix:after {
//    content: "";
//    display: table;
//}
//
//.clearfix:after {
//    clear: both;
//}
//
//.clearfix {
//    *zoom: 1;
//}

@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}
