@import url(../fonts/quicksand/stylesheet.css);
/* ==========================================================================
   HTML5 Boilerplate
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #292929;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #292929;
  color: #fff;
  text-shadow: none;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #06e;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

/* ==========================================================================
   App Styles
   ========================================================================== */
/* Variables
   ========================================================================== */
/* Base
   ========================================================================== */
body {
  background-color: white;
  font-family: "QuicksandBook", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1em;
}

a {
  text-decoration: none;
  color: white;
}
a:hover, a:focus {
  color: #292929;
}

hr {
  border: 0;
  height: 7px;
  background: url(../img/hr.png) repeat-x;
  width: 100%;
  margin: 0.2em auto 0.2em;
}
hr.is-inverted {
  background-color: #f64557;
}
hr.is-blue {
  background-color: #2a8fbd;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
}

/* Layout
   ========================================================================== */
/* Modules
   ========================================================================== */
/* container */
.container {
  margin: 0 auto;
}

/* change lang */
.change-lang {
  font-family: "QuicksandBold", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  max-width: 960px;
  width: 38px;
  height: 62px;
  background: url(../img/change-lang.png) no-repeat;
  text-align: center;
}
.change-lang a {
  display: block;
  line-height: 45px;
}
.container .change-lang {
  margin-left: 80%;
}

/* game */
.game {
  padding: 200px 0 0;
  margin: 0 auto;
  max-width: 450px;
  width: 50%;
}

/* intro */
.intro {
  max-width: 960px;
  margin: 18em auto;
  text-align: center;
}
.intro p {
  margin: 0;
  font-size: 2.5em;
}
.intro iframe {
  margin-top: 100px;
  width: 70%;
}

/* Party Location */
.location {
  margin: 0 auto;
  padding-top: 15%;
  padding-bottom: 15%;
  max-width: 700px;
}
.location h1, .location .contacts h2, .contacts .location h2 {
  font-family: "QuicksandDash", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  clear: both;
  margin: 0 0 0.5em;
  color: #2a8fbd;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 4.5em;
}
.location .location-details {
  margin: 10% auto;
  width: 90%;
}
.location .location-details p {
  margin: 0;
}
.location .location-details .location-details-col1 {
  float: left;
}
.location .location-details .location-details-col1 .venue {
  font-family: "QuicksandBook", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.location .location-details .location-details-col1 .venue-row1 {
  font-size: 4.3em;
}
.location .location-details .location-details-col1 .venue-row2 {
  font-size: 3.8em;
}
.location .location-details .location-details-col1 .city {
  font-family: "QuicksandDash", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3.2em;
}
.location .location-details .location-details-col2 {
  float: right;
  margin-top: 2%;
}
.location .location-details .location-details-col2 .date {
  font-size: 3.3em;
}
.location .location-details .location-details-col2 .hours {
  font-size: 6.5em;
}
.location img {
  display: block;
  margin: 0 auto;
  max-width: 190px;
}

/* rsvp */
.rsvp {
  max-width: 960px;
  padding-top: 15em;
  padding-bottom: 17em;
  margin: 0 auto;
  text-align: center;
}
.rsvp h1, .rsvp .contacts h2, .contacts .rsvp h2 {
  font-weight: normal;
  font-size: 2.5em;
}
.rsvp .rsvp-wrapper {
  margin: 0 auto;
  width: 55%;
}
.rsvp .rsvp-wrapper img {
  float: left;
  width: 40%;
}
.rsvp .rsvp-wrapper .date-and-cta {
  float: right;
  color: #f64557;
}
.rsvp .rsvp-wrapper .date-and-cta p {
  margin: 0;
  line-height: 1em;
}
.rsvp .rsvp-wrapper .date-and-cta .date {
  margin: 0.3em 0;
  font-size: 3em;
}
.rsvp .rsvp-wrapper .date-and-cta .cta {
  display: inline-block;
  padding: 0.3em 0.3em 0.1em;
  background-color: #f64557;
  font-size: 2.3em;
}

/* contacts */
.contacts {
  padding-top: 10em;
  padding-bottom: 10em;
  background-color: #292929;
  color: white;
  text-align: center;
}
.contacts .contacts-wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.contacts img {
  margin-bottom: 3em;
  width: 25%;
}
.contacts h1, .contacts h2 {
  margin: 1em auto 2em;
  width: 80%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2.5em;
}
.contacts h2 {
  margin-top: 2em;
  text-transform: uppercase;
  font-weight: normal;
}
.contacts h2 a {
  padding: 0.5em 0.4em 0.3em;
  background-color: white;
  color: #f64557;
}
.contacts h2 a:hover {
  background-color: #f64557;
  color: white;
}
.contacts ul {
  margin: 0;
  margin: 0 auto;
  padding: 0;
  width: 60%;
  list-style: none;
}
.contacts ul li {
  text-transform: uppercase;
  font-size: 2em;
}
.contacts ul li p {
  margin: 0.5em 0;
  line-height: 1em;
}
.contacts ul li .phone {
  font-family: "QuicksandDash", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.contacts ul li.is-bride {
  float: left;
}
.contacts ul li.is-groom {
  float: right;
}

/* faq */
.faq {
  margin: 15em auto;
  width: 80%;
}
.faq h1, .faq .contacts h2, .contacts .faq h2 {
  font-family: "QuicksandBook", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #f64557;
  text-align: center;
  font-size: 8em;
}
.faq dl {
  font-size: 2em;
}
.faq dt {
  margin-top: 3em;
  color: #f64557;
  text-transform: uppercase;
}
.faq dd {
  margin: 0.5em 0 0.5em;
}

/* thank you */
.thank-you {
  max-width: 960px;
  margin: 20em auto;
  color: #f64557;
  text-align: center;
}
.thank-you h1, .thank-you .contacts h2, .contacts .thank-you h2 {
  font-family: "QuicksandDash", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4em;
}
.thank-you img {
  max-width: 200px;
}

@media only screen and (max-width: 55em) {
  .intro p {
    font-size: 2em;
  }
  .intro iframe {
    margin-top: 3em;
    width: 85%;
  }

  .location h1, .location .contacts h2, .contacts .location h2 {
    font-size: 2em;
  }
  .location .location-details .location-details-col1,
  .location .location-details .location-details-col2 {
    float: none;
    text-align: center;
  }
  .location .location-details .location-details-col1 .venue {
    font-family: "QuicksandBook", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
  }
  .location .location-details .location-details-col1 .venue-row1 {
    font-size: 2em;
  }
  .location .location-details .location-details-col1 .venue-row2 {
    font-size: 2em;
  }
  .location .location-details .location-details-col1 .city {
    font-family: "QuicksandDash", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
  }
  .location .location-details .location-details-col2 {
    margin-top: 2%;
  }
  .location .location-details .location-details-col2 .date {
    font-size: 2em;
  }
  .location .location-details .location-details-col2 .hours {
    font-size: 2em;
  }
  .location img {
    display: block;
    margin: 0 auto;
    max-width: 190px;
  }

  .rsvp {
    max-width: 960px;
  }
  .rsvp h1, .rsvp .contacts h2, .contacts .rsvp h2 {
    font-size: 2em;
    margin: 1em 5%;
  }
  .rsvp .rsvp-wrapper {
    width: 55%;
  }
  .rsvp .rsvp-wrapper img {
    float: none;
    width: 80%;
    max-width: 200px;
  }
  .rsvp .rsvp-wrapper .date-and-cta {
    float: none;
  }
  .rsvp .rsvp-wrapper .date-and-cta p {
    font-size: 2em;
  }
  .rsvp .rsvp-wrapper .date-and-cta .date {
    margin: 1.5em 0 0.5em;
    font-size: 2em;
  }
  .rsvp .rsvp-wrapper .date-and-cta .cta {
    font-size: 2em;
  }

  .contacts img {
    width: 100%;
    max-width: 170px;
  }
  .contacts h1, .contacts h2 {
    font-size: 2em;
  }
  .contacts h2 {
    line-height: 1.7em;
  }
  .contacts ul li.is-bride, .contacts ul li.is-groom {
    float: none;
  }

  .faq h1, .faq .contacts h2, .contacts .faq h2 {
    text-align: left;
    font-size: 2em;
  }

  .thank-you h1, .thank-you .contacts h2, .contacts .thank-you h2 {
    font-size: 3em;
  }
  .thank-you img {
    max-width: 170px;
  }
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix, .location, .location .location-details, .rsvp .rsvp-wrapper, .contacts ul {
  zoom: 1;
}
.clearfix:before, .location:before, .location .location-details:before, .rsvp .rsvp-wrapper:before, .contacts ul:before, .clearfix:after, .location:after, .location .location-details:after, .rsvp .rsvp-wrapper:after, .contacts ul:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after, .location:after, .location .location-details:after, .rsvp .rsvp-wrapper:after, .contacts ul:after {
  clear: both;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
